.ant-typography-title-dark {
     color :#fff !important;
}

.ant-typography-title-light {
     color :#001529 !important;
}

.ant-typography-paragraph-dark {
     color :#fff;
}

.ant-typography-paragraph-light {
     color :#001529;
}

.ant-typography-text-dark {
     color :#fff;
}

.ant-typography-text-light {
     color :#001529;
}


